<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "doge.jpg" %>
	</div>
	<div id="content">
		<h1>Hi, I'm Michal</h1>
		<p>Welcome on my blog. I'm new to Rails and i'm going to do some new web applications</p>
		<p>This week i'm building a blog application with comments</p>
		<p>If u would like to get something more about me, find me on LinkedIn<a href="https://pl.linkedin.com/in/michał-kaliniewicz-b75a557a">Follow ME</a>
		or at the facebook<a href="https://www.facebook.com/mkaliniewicz">Feel free to pm me</a></p>
	</div>
</div>